@charset "utf-8";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:link{
    color: inherit;
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.d_none{
    display: none !important;
}
body{
    /* font: 16px/1.5 dotum,gulim; */
    font: 16px/1.5;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #333;
    /* position: relative; */
}
#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 450px;
    background: white;
    color: #333;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
    padding: 20px;
    display: flex;
    z-index: 2000;
}
#popup > button{
    border: 2px solid darkgreen;
    background: seagreen;
    padding: 10px 5px;
    margin: 0 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.header_wrap{
    width: 100%;
    background: seagreen;
}
.header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.main_nav{
    align-self: flex-end;
}
.mouseenter{
    background: seagreen;
    font-size: 1.2em;
    border: 2px solid white;
}
.on{
    background: darkgreen;
    border: 2px solid white;
    font-size: 1.2em;
    color: red;
}
#gnb{
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    /* column-gap: 20px; */
    background: darkgreen;
    margin-right: 30px;
    color: #fff;
}
#gnb > li{
    width: 150px;
    height: 50px;
    text-align: center;
}
#gnb > li > a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 1.25em;
    font-weight: 900;
}
.lnb{
    display: none;
    position: absolute;
    background: seagreen;
    width: 150px;
    height: 150px;
    z-index: 1000;
    font-weight: 900;
}
.lnb a{
    display: block;
    width: 150px;
    height: 37.5px;
    line-height: 37.5px;
}
.slide{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
#imgs li{
    opacity: 0;
}
.top{
    z-index: 1;
    opacity: 1 !important;
    transition: all ease-in-out .3s;
}

.contents{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
}
.board, .banner, .shortcut{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.board{
    padding: 8px 0;
}
.board_title{
    font-size: 1.2em;
    font-weight: 900;
    text-transform: capitalize;
    color: darkgreen;
}
.active{
    background: darkgreen;
    color: white;
    font-size: 1.2em;
    transition: all ease-in-out .3s;
}
.board_title > ul{
    display: flex;
    justify-content: space-around;
}
.board_title > ul > li{
    border: 2px solid seagreen;
    width: 200px;
    text-align: center;
    padding: 3px;
    border-bottom: 5px solid white;
    margin: 0 0 -5px 0;
}
.board_contents{
    height: 150px;
    padding: 10px;
    border: 2px solid seagreen;
}
.news{
    list-style: disc inside;
}
.gallery{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.gallery img{
    max-width: 100%;
}
.banner{
    text-align: center;
}
.shortcut{
    text-align: center;
    color: darkgreen;
}
.shortcut > ul{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 10px;
}

.footer_wrap{
    width: 100%;
    background: seagreen;
}
.footer{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    color: #fff;
}
.logo_bottom{
    flex: 1;
    justify-content: center;
    line-height: 100px;
}
.info{
    flex: 9;
    padding: 10px;
}
.bottom_menu{
    display: flex;
    column-gap: 30px;
    border-bottom: 1px solid #fff;
    padding: 10px;
}
